[package]
name = "gg-rs"
version = "0.1.0"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

[workspace]
resolver = "3"
members = [
    "protocol",
    "server",
    "client"
]